.header__logo {
  height: 33px;
  width: 142px;
  background-image: url("../../../images/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:900px) {

  .header__logo {
    margin: 0 0 0 27px;

  }
}

@media screen and (max-width:800px) {

  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
