.register__input {
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    width: 100%;
    padding: 0 0 8px 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #000000;
    font-family: 'Inter';
    font-style: normal;
    color: #CCCCCC;
}