.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: visibility 0.1s, opacity 1s linear;
  display: flex;
}

